<div layout="column">
    <inf-top-nav></inf-top-nav>

    <div style="background-color: purple!important" ng-class="{'fullscreen': !ctrl.$mdMedia('gt-xs')}" layout="column">
        <h1 class="welcome-title">Welcome to Entrinsik's Chris Report Factory</h1>
        <p>Please log in to continue</p>
        <md-input-container md-no-float ng-show="ctrl.domains.length > 1">
            <md-icon md-font-icon="material-icons">home</md-icon>
            <md-select ng-model="ctrl.domain" placeholder="Domain">
                <md-option ng-repeat="domain in ::ctrl.domains" ng-value="domain">{{ ::domain.name || domain.id }}
                </md-option>
            </md-select>
        </md-input-container>
        <div class="login-component" layout="column" ng-model="ctrl.config" component="ctrl.driver.loginComponent"></div>
        <md-button type="submit" class="md-raised md-accent" ng-disabled="ctrl.loggingIn">
            Log In
        </md-button>
    </div>

</div>